@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <h2 class="center">Register</h2>
    @using (Html.BeginForm("RegisterPost", "Auth", FormMethod.Post))
    {
        <div id="registerForm" class="row">
            <div class="large-4 columns">
                @Html.TextBox("Email", "", new { @placeholder = "Email", required = "required" })
                @Html.TextBox("Name", "", new { @placeholder = "Name", required = "required" })
                @Html.TextBox("Lastname", "", new { @placeholder = "Lastname", required = "required" })
                @Html.TextBox("Password", "", new { @placeholder = "Password", required = "required" })
                @Html.TextBox("Password2", "", new { @placeholder = "Password", required = "required" })
            </div>
            <div class="large-8 columns">
                <div class="large-8 columns">
                    @Html.TextBox("Street", "", new { @placeholder = "Street", required = "required" })
                    @Html.TextBox("Zipcode", "", new { @placeholder = "Zipcode", required = "required" })
                    @Html.TextBox("City", "", new { @placeholder = "City", required = "required" })
                    @Html.TextBox("Country", "", new { @placeholder = "Country", required = "required" })
                </div>
                <div class="large-4 columns">
                    @Html.TextBox("HouseNumber", "", new { @placeholder = "HouseNumber", required = "required" })
                </div>
            </div>
        </div>
        <div id="createAccountbtn" class="row">
            <div class="large-12 columns">
                <input class="button expanded" type="submit" value="Create Account" />
            </div>
        </div>

    }

    @if (@ViewBag.RegisterResult != null)
    {
        <div id="loginResult" class="row">

            <div class="large-12 columns">
                @if (@ViewBag.RegisterResult)
                {
                    <div class="callout success">
                        <h5> Succes!</h5>
                        <p>Account has been created.</p>
                    </div>

                }

                @if (!@ViewBag.RegisterResult)
                {
                    <div class="callout alert">
                        <h5> Oops!</h5>
                        <p>Something went wrong!. Please try again later.</p>
                    </div>

                }
            </div>
        </div>

    }
</div>