@using System.Web.UI.WebControls
@using DalWebshop.Models

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Product> producten = ViewBag.Producten;
    List<Leverancier> suppliers = ViewBag.Leverancier;
    List<Productcategorie> categories = ViewBag.Categorien;
}
<div class="row text-center">
    <br />
    <h2>Products</h2>
    <table id="productTable" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>In Stock</th>
            <th>Price</th>
            <th>HasDiscount</th>
            <th>Supplier</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>In Stock</th>
            <th>Price</th>
            <th>HasDiscount</th>
            <th>Supplier</th>
            <th>Edit</th>
        </tr>
        </tfoot>
        <tbody>
        @foreach (Product p in producten)
        {
            <tr>
                <td>@p.Id</td>
                <td>@p.Titel</td>
                <td>@p.Omschrijving</td>
                <td>@p.Voorraad</td>
                <td>@p.Prijs</td>
                <td>idk</td>
                <td>@p.LeverancierId</td>
                <td>edit</td>
            </tr>
        }
        </tbody>
    </table>
    </div>

<div class="row">
    <p><a class="button success" data-open="newProduct"><i class="fa fa-plus" aria-hidden="true"></i> Add Product</a></p>
</div>
<div class="reveal" id="newProduct" data-reveal style="height: 75%; width: 80%">
    <form action="/Manage/ProductNew" method="post" enctype="multipart/form-data">
        <div class="large-8">
            <input type="file" name="Images" />
            <input type="file" name="Images" />
            <input type="file" name="Images" />
            <input type="file" name="Images" />
            <input type="file" name="Images" />
        </div>
        <div class="large-8">
            <input type="text" name="title" />
            <input type="text" name="description" />
            <input type="number" name="stock" />
            <input type="number" name="price" step="any" />

            <select name="supplier">
                @foreach (Leverancier l in suppliers)
                {
                    <option value="@l.Id">@l.Naam</option>
                }
            </select>
            <select name="categories">
                @foreach (Productcategorie pc in categories)
                {
                    <option value="@pc.Id">@pc.Naam</option>
                }
            </select>
        </div>
        <div id="updateButtons" class="row stickToBottom maxWidth">
           <div class="large-12 columns">
               <input class="button expanded success" type="submit" value="Create Produdct" />
           </div>
       </div>
    </form>
</div>